<div>
<div class="header">A payment of $ 0.03 has been submitted to this account and is not reflected in the information below.
    Submitted payments may take up to 3 days to be processed.
<div>
<div>
Last Payment Date
{{lastPaymentDate}}</div>
<div>
{{lastPaymentAmt}}
</div>
<div>
Next Payment Date
{{nextPaymentDate}}
{{nextPaymentAmt}}
</div>
<div>
Account Balance
{{accountBalance}}   
</div>
<div>
     <a href="">Payment Activity</a>   
    </div>
<div> 
        <a href="">Bill Plans and Schedule</a>   
    </div> 
  <h3>Policies on this Account</h3>   
  <b>Business Owners</b>
  ({{policyNumber}})
</div>
</div>