<div>
<table class="header">A payment of $ 0.03 has been submitted to this account and is not reflected in the information below.
        Submitted payments may take up to 3 days to be processed.
</table>
<br>  
<table width="50%">
<tr>
<td width="17%">Last Payment Received</td>
<td width="17%">{{lastPaymentDate}}</td>
<td width="17%">{{lastPaymentAmt}}</td>
</tr>
<tr>
<td width="17%"> Next Payment Due</td>
<td width="17%">{{nextPaymentDate}}</td>   
<td width="17%">{{nextPaymentAmt}}</td> 
</tr>
<tr>
<td width="50%">Paid to Date Account Balance</td>
<td width="20%">{{accountBalance}}</td>
</tr> 
</table> 
<br>
<table>
 <tr><a [routerLink]="['/payment']">Payment Activity</a></tr>   
 <tr><a href="">Bill Plans and Schedule</a></tr>
</table> 
<table>
<h3>Policies on this Account</h3>   
<b>Business Owners</b>
<tr>({{policyNumber}})
</tr></table>
   </div>