
<div class="w3-panel w3-border w3-border-red">
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
       <div class="form-group">
            <!-- Username -->
            <label for="username">User Name: <span class="lblError">*</span></label>
           <input type="text" id="username"  class="form-control" formControlName="userName">
           </div>
           <div class="form-group">
            <!-- Password -->
            <label for="password">Password: <span class="lblError">*</span></label>
           <input type="text" id="password" type="password" class="form-control" formControlName="password">
           </div>
           <br>
           <div class="form-group">
            <button class="btn btn-primary" type="submit" style="width: 55%">
            Log In
            </button>
          </div>   
   </form>
  </div>
